<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List - Python</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>
<body>
    <h1>Músicas Favoritas</h1>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Banda</th>
                <th>Álbum</th>
                <th>Ano de Lançamento</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Welcome to the Jungle</td>
                <td>Guns n' Roses</td>
                <td>Appetite for Destruction</td>
                <td>1987</td>
            </tr>
        </tbody>
    </table>
</body>
</html>